
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
screenshots
.env.development
.env.production
.env.local
package-lock.json
logs
tests
.vscode
.github
scraper/dist/
scraper-view/dist/
scraper-view/.angular/
scraper-view/src/environments/environment.ts
scraper-view/src/environments/environment.development.ts
scraper-view/src/environments/environment.local.ts
